
.header {
  display: flex;
  flex-direction: row;
  height: 4.5rem;
  background-color: royalblue;

  .title {
    color: white;
    font-size: 3rem;
    min-width: fit-content;
    margin: auto;
  }
}

.body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  .search-bar {
    width: 20%;
    height: 3rem;
    margin: auto;
    align-self: center;
  }

  .bottom-Section {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid black;

    .filters {
      height: 100%;
      width: 30%;
      border-right: 1px solid black;
    }

    .data-display {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;

      .virtual-scroll {
        height: 100%;

      }

    }
  }
}
