
<div class="header">
  <span class="title">Assignment</span>
</div>

<div class="body" >
  <div class="search-bar">

    <input type="text" placeholder="Press to start searching" #box (change)="filterCards(box.value)">

  </div>
  <div class="bottom-Section">
    <div class="filters">
      <app-display-filters></app-display-filters>
    </div>
    <div class="data-display">
      <cdk-virtual-scroll-viewport itemSize="50" class="virtual-scroll">
        <div *cdkVirtualFor="let card of cardsData">
          <app-data-card [cardData]="card"></app-data-card>
        </div>
      </cdk-virtual-scroll-viewport>

    </div>
  </div>
</div>
